body {
  margin: 0;
  font-family: 'Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  cursor: none;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body
{
  background-color: black;

}

.container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 0px 30px;
}
