.footer {
    background-color: #1e1e1e;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
    flex-wrap:wrap;
  }
  
  .footer-section {
    
    flex: 1;
    margin: 0 40px;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-contact {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .footer-contact i {
    margin-right: 8px;
  }
  
  .footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social-icons {
    display: flex;
    gap: 15px;
  }
  
  .footer-social-icons a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .footer-social-icons a:hover {
    color: #00aced;
  }
  .mail
  {
    color: white;
    text-decoration: none;
  }